<h1>Car creation</h1>
<div *ngIf="!getsCarSaved()">

  <form [formGroup]="carForm" novalidate (ngSubmit)="onSubmit()">
    <label>Brand : </label>
    <br/>
    <input type="text" formControlName="brand" placeholder="Brand"/>
    <br/>
    <span *ngIf="isCarFormSubmitted() && carForm.value.brand == ''" class="error">
      Please fill the car brand
    </span>
    <br/>
    
    <label>Model : </label>
    <br/>
    <input type="text" formControlName="model" placeholder="Model"/>
    <br/>
    <div *ngIf="isCarFormSubmitted() && carForm.controls.model.errors != null">
      <span *ngIf="carForm.controls.model.errors.required" class="error">
        Please fill the car model
      </span>
    </div>
    <br/>
    
    <label>Color : </label>
    <br/>
    <input type="text" formControlName="color" placeholder="Color"/>
    <br/>
    <div *ngIf="isCarFormSubmitted() && carForm.controls.color.errors != null">
      <span *ngIf="carForm.controls.color.errors.required" class="error">
        Please give the car a color
      </span>
    </div>
    <br/>
    
    <label>Horse Power : </label>
    <br/>
    <input type="text" formControlName="horsePower" placeholder="HorsePower"/>
    <br/>
    <div *ngIf="isCarFormSubmitted() && carForm.controls.horsePower.errors != null">
      <span *ngIf="carForm.controls.horsePower.errors.required" class="error">
        Please fill the car horse power
      </span>
    </div>
    <br/>
    
    <input type="submit"  value="Create"/>
  </form>
</div>
<div *ngIf="getsCarSaved()">
  <p>Th following car has been created</p>
  <ul>
    <li>Brand : {{getCarCreated().brand}}</li>
    <li>Model : {{getCarCreated().model}}</li>
    <li>Color : {{getCarCreated().color}}</li>
    <li>Horsepower : {{getCarCreated().horsePower}}</li>
  </ul>
</div>